<div class="container-fluid" class="pt-1 pl-0 pt-4 pb-1">
    
    <div class="row row-style"  >

      <div class="col">
  
        <div class="card pl-3 pr-3 pb-5 box-style-shadow">
  
            <div class="card-header">
             
                <div class= "border-bottom-style" >
                    <span class="button-create-new">Create New Category</span>
                  </div>

                <div class="row">
  
                    <div class="col-6 div-form-style" >
                      
                    <br>

                        <form #fmCategory="ngForm" (ngSubmit)="saveCategory(fmCategory)"> 

                            <div class="form-group height-180">

                              <label for="title" class="label-texto">Name</label>

                              <input type="text" id="name" name="name"  [(ngModel)]="category.name" class="form-control input-texto"  #name="ngModel"   placeholder="name" required maxlength="128"  > 
                             
                              <p class="p-style-12"  *ngIf="name.errors && (name.dirty || name.touched)" >Favor preencher o campo name.</p>
                              
                              <div *ngIf="!name.errors" style="height: 18px; width: 18px;" > 

                                <svg  style="color:#99CC00;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"> <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/> </svg>
                              
                              </div>  

                            </div>  
                          
                           <div class="row pb-4 pt-3" >
              
                                <div class="col-md-1"></div>
                                
                                <div class="col-md-5">

                                    <button  routerLink="/category" type="button" class="btn btn-style-2" > 

                                       <span>VOLTAR</span>
              
                                    </button>

                                </div>

                                <div class="col-md-5">

                                    <button type="submit" 
                                    
                                       class="btn btn-style-1"
                                       [disabled]="!fmCategory.form.valid" >
              
                                     <span>CADASTRAR</span>
              
                                   </button>

                                </div>

                                <div class="col-md-1"></div>

                              </div>

                          </form>
                         
                    </div> 
  
               </div>
  
            </div>

        </div>

      </div>

    </div>

</div> 
 