
 
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DeviceManager </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbar-manager" aria-controls="navbar-manager" aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-manager">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/category']" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/device']">Device</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/category']">Category</a>
        </li>
         
      </ul>
    
      <span class="navbar-text pt-6 pb-6">
        <a href="/logout">  
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z"/></svg>
           
        </a> 
      </span>

    </div>
  </div>
</nav>


<div class="container-fluid" style="background-color: #F2F4F7;" >
  <router-outlet></router-outlet>
</div>  